@import '../assets/colors/colors';

.mainWrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    min-height: 240px;
}